name: Lintly-Flake8 CI

on: 
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: Willmish/lintly-flake8-github-action@v1.1
        with:
          # The GitHub API token to create reviews with
          token: ${{ secrets.GITHUB_TOKEN }}
          # Fail if "new" violations detected or "any", default "new"
          failIf: any
          # Additional arguments to pass to flake8, default "." (current directory)
          args: "--ignore=E121,E123,W503,W504 src"
